* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 41px;
    margin-left: 74px;
    margin-right: 100px;
    margin-bottom: 72px;
}
#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 102px;
    height: 68px;
     /* padding-right: 72px; */
}
.header-left a {
    text-decoration: none;
    /* padding-left: 74px; */
    padding-bottom: 4.5px;
    border-bottom: 2px solid red;
    margin-left: 74px;
}
#header-nav ul{
    list-style-type: none;
    display: flex;

}
#header-nav ul li a {
    padding-left: 36px;
}

#header-right ul {
    display: flex;
}
#header-right ul  {
    list-style-type: none;
}
#header-right ul li {
    text-decoration: none;
    list-style-type: none;
}
#header-right ul li a{
    text-decoration: none;
}
#header-right .account {
    padding-right: 35px;
    border-right: 2px solid gray;
}
#header-right .number-phone {
    padding-left: 62px;
}
#hero {
    margin-left: 74px;
    margin-right: 100px;
    margin-bottom: 30px;
}
.hero-full{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.hero-left{
    width: 50%;

}
.hero-right{
    width: 50%;

}
.hero-right img {
    width: 522px;
    height: 504px;
    position: relative;
    margin-right: 126px;
}
.hero-left .infor ul {
    list-style-type: none;
    display: inline-flex;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
    
}
.hero-left .infor ul a.active{
    border-bottom: 1px solid red;
    /* padding-bottom: 31px; */

}

.hero-left .infor ul li a {
    text-decoration: none;
}
.hero-left .infor ul li a.active {
    color: red;
    padding-bottom: 31px;
    position: relative;
}
.hero-left .infor ul li a.active::after{
    position: absolute;
    content: "";
    bottom: -5px;
    background-color: red;
}

.hero-left .infor ul li:not(:last-child) {
   padding-right: 20px;
}
.hero-left .infor ul li {
    
}
.hero-left .title h1  {
    padding-bottom: 34px;
    font-size: 64px;
    width: 60%;

}
.hero-left .title p  {
    width: 60%;
}
.hero-right .triangle1 {
    position: absolute;
    width: 42px;
    height: 40px;
    margin-left: -670px;
    margin-top: 24%;

}
.hero-right .triangle2 {
    position: absolute;
    width: 42px;
    height: 40px;
    margin-left: -142px;
    margin-top: 4%;
}

.hero-right .triangle3 {
    position: absolute;
    width: 42px;
    height: 40px;
    margin-left: -670px;
    margin-top: 24%;
}
.why-us {
    display: flex;
    margin-bottom: 30px;
}
.why-us_infor{
    width: 50%;
    margin-left: 74px;
    text-align: justify;
}
.why-us_logo{
    width: 50%;
    margin-left: 90px;
    margin-right: 206px;
    /* display: flex;

    justify-content: space-around; */
}
.why-us_logo .logo{
    /* width: 30vw; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.why-us_logo .logo div{
    width: 30%;
}

.why-us_logo .logo img{
    width: 100%;
    object-fit: cover;
}
.service{
    display: flex;
    justify-content: space-around;
    margin-left: 74px;
    margin-right: 100px;
    padding-bottom: 100px;
    /* align-items: center; */
}
.benifit {
    margin-top: 20px;
    width: 25%;
    object-fit: cover;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.benifit .icon {
    margin-bottom: 30px;
}
.benifit h1{
    margin-bottom: 30px;
    font-size: 26px;

}
.benifit .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: beige;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.ti-timer {
    font-size: 40px;
}

.pricing h1, p{
    text-align: center;
}

.toggle {
    background-color: grey;
    width: 60px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
  }
  .toggle-active {
    background-color: blue;
    width: 60px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  input {
    display: none;
  }
  .slider {
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 12px;
    margin: 4px;
  }
  input:checked + .toggle {
    background-color: rgb(212, 10, 10);
  }
  input:checked + .toggle > .slider {
    align-self: flex-end;
  }
/* .priciing1 {
    display: inline-block;
} */
.pricing {
    padding-bottom: 20px;
}
.pricing1  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px;
}
.pricing1 p {
    padding-right: 30px;
    padding-left: 30px;
    align-content: center;
}
.pricing1 .discount {
    padding: 3px;
    background-color: bisque;
    border-radius: 2px;
}
.pricing2 {
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
    
}
.pricingfeld {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}
.pricingfeld_small {
    width: 20%;
    padding: 20px;
    border: 1px solid gray;
    display: inline-block;
    border-radius: 3px;
}
.imgtt{
    position: relative;
}
.imgtestimonial1 {
    margin-left: 30%;
   background-size: contain;
   width: 80px;
   height: 60px;
}
.ttmheader {
    margin-top: -30px;
    position: absolute;
    margin-left: 33%;
    margin-right: 33%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    min-height: 600px;
    
}
.ttmheader_left {
    margin-top: -30px;
    width: 50%;
    height: auto;
 
}
.ttmh_left .box1 {
    width: 200px;
    height: auto;
    /* border: 1px solid gray; */
    border-radius: 3px;
    margin-top: 60px;
    margin-left: 30px;
    box-shadow: 0px 3px 3px 3px #f7f7f7
}
.ttmh_left .box1 p {
    text-align: justify;

}

.ttmh_right {
    width: 50%;
    height: auto;


}
.ttmh_right .box2 {
    width: 200px;
    height: auto;
    /* border: 1px solid gray; */
    border-radius: 3px;
    margin-left: 30px;
    margin-top: 80px;
    box-shadow: 3px 3px 3px 3px #f7f7f7
}
.ttmh_right .box2 p {
    text-align: justify;
}
.ttmh_right .box3 {
    width: 200px;
    height: auto;
    /* border: 1px solid gray; */
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 30px;
    box-shadow: 3px 3px 3px 3px #f7f7f7;
    
}

.ttmh_right .box3 p {
    text-align: justify;

}

.imgtestimonial{
    background-size: contain;
    width: 30px;
    height: 30px;
}
.testimonial{
    padding-bottom: 30px;
    min-height: 50vh;
}
.testimonial2 {
    margin: 20% 20% 5% 20%;
    display: flex;
    justify-content: center;
}
.testimonial2_l{
    width: 50%;
}
.testimonial2_l p{
    text-align: justify;
}
.testimonial2_r{
    width: 50%;
}
.cta {
    text-align: center;
    display: inline-block;
    margin-left: 26%;
    /* margin-right: 20%; */
    background-color: rgb(208, 232, 243);
    padding: 60px 100px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.cta h1{
    font-size: 46px;
}
.cta span{
    margin-top: 60px;
    padding: 6px;
    background-color:  #B00000;
    border-radius: 3px;
    color: #f7f7f7;
}
.cta_content {
    padding-bottom: 20px;
}
.footer{
    padding: 30px 0;
    background-color: #B00000;
    color: #f7f7f7;
}
.footer_content {
    display: flex;
    justify-content: space-around;

}
.foot_left {
    width: 30%;
    text-align: justify;
    margin-left: 48px;
}
.foot_left img{
    width: 100px;
    height: 45px;
    background-image: contain;
}
.foot_left p {
    text-align: justify;
}
.footer_right {
    width: 60%;
    display:flex;
    justify-content: space-around;
}
.foot {
    margin-top: 6px;
}
.footer_lf {
    margin-top: 20px;
    margin-left: 10px;
}




    

        

